html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.lt_container {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 100%;
  position: relative;
  padding-top: 45px;
  padding-bottom: 55px;
}

.lt_container .lt_header {
  height: 45px;
  max-width: 640px;
  margin: 0 auto;
  line-height: 45px;
  text-align: center;
  background-color: #069;
  width: 100%;
  position: fixed;
  top: 0;
  /*left: 0;*/
  padding: 10px 15px 0 15px;
  z-index: 999;
}

.lt_header h4 {
  color: #fff;
}

.lt_header .icon_font {
  position: absolute;
  top: 0;
  
  color: #fff;
  font-size: 16px;
}

.icon_font_left {
  left: 15px;
}

.icon_font_right {
  right: 15px;
}

.lt_content {
  position: relative;
  height: 100%;
  width: 100%;
}

.lt_root {
  height: 55px;
  background-color: #069;
  width: 100%;
  max-width: 640px;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 10px;
  text-align: center;
}

.lt_root li {
  float: left;
  width: 25%;
}

.lt_root li a,
.lt_root li p {
  color: #fff;
}

.lt_root li.now a,
.lt_root li.now p {
  color: darkorange;
}

