.lt_root_self {
  line-height: 35px;
  height: 55px;
  background-color: #ccc;
  width: 100%;
  position: fixed;
  z-index: 999;
  bottom: 0;
  padding: 10px;
  text-align: center;
}

.lt_root_self li {
  float: left;
  width: 25%;
}

.lt_root_self li a,
.lt_root_self li p {
  color: #fff;
}

.lt_root_self li.now a,
.lt_root_self li.now p {
  color: darkorange;
}

.lt_root_self .go_cart {
  font-size: 14px;
}

.pro_item {
  font-size: 18px;
  border-bottom: 1px solid #aaa;
  padding: 10px;
}

.mui-slider {
  border-bottom: 1px solid #aaa;
}

.lt_value .price {
  color: red;
  font-size: 22px;
}

.lt_value .old_price {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}

.lt_size span {
  letter-spacing: normal;
  background-color: #ddd;
  font-size: 12px;
  line-height: 35px;
  border: 1px solid #ccc;
  padding: 5px;
}

.goods_num span {
  color: #555;
  font-size: 12px;
}